*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    border-radius: 10px;
    background-color: silver;
    border: 1px solid rgb(142, 141, 141);
    box-shadow: 5px 5px 40px gray;
}

.calculator{
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-block: 10px;
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.bill-amount{
    border: 3px solid green;
    margin-bottom: 20px;
}

.form1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 30px;
}

input{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button{
    width: 200px;
    height: 50px;
    margin-inline: 15px;
    background-color: darkgreen;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.predetermined{
    display: none;
    margin-bottom: 20px;
}

.customtip{
    display: none;
    margin-bottom: 20px;
}
